@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
:root {
    --color-light: white;
    --color-dark: #212121;
    --color-signal: #fab700;
    --teteTableau: #9BBEA9;
    --color-background: var(--color-light);
    --color-text: var(--color-dark);
    --color-accent: var(--color-signal);
    --LignePaire: #edf6f9;
    --ligneImpaire:var(--s);
    --size-bezel: .5rem;
    --size-radius: 4px;
    
    line-height: 1.4;
    
    font-family: 'Inter', sans-serif;
    font-size: calc(.6rem + .4vw);
    color: var(--color-text);
    background: var(--color-background);
    font-weight: 300;
}
* {
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;

}
.container_tout {
    background-color: #2121216a;
    z-index: 5;
}

.ghg {
    z-index: 0;
}
/* ---------------------------------- header ----------------------------------- */




/* ---------------------------------- titre ----------------------------------- */
.titre {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 2%;
    padding-bottom: 2%;
}

h1 {
    font-size: 6em;
    text-align: center;
    font-family: 'Gloria Hallelujah', cursive;
    color: #9BBEA9;
    font-weight: 1000;
}


.header_popUp {
    background-color:#60d394;
}


.header_popUp2 {
    background-color: #f4a261;
}





.titreH3 {
    text-align: center;
}

.tableau {
    margin: 2%;
    width: 95%;
}















/* recette card*/

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
.container{
    width:100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}



/* recette details*/

h2 {
    display: flex;
    align-items: center;
    color: white;
    font-size: 3em;
    width: 100%;
    justify-content: center;
    margin-right: 17%;
}

.test2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h3 {
    font-size: 2em;
    margin-top: 2%;
}

.container-titre-image {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: #60d394 solid 1px;
    width: 80%;}



.container-nb-time-kcal {
    display: flex;
    border: #60d394 2px solid;
    justify-content: space-evenly;
    width: 49%;
    height: 4em;
    margin-top: 2%;
}

.time_NB_Kcal {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 9em;
}
.Kcal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 9em;
}



p {
    margin: 0;
}




.container-etape {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-top: 4%;
}



/* Ajout recette */


form {
    margin-top: 2%;
}

input {
    width: 25em;
} 

textarea {height: 6em !important;}










/* Style pour les champs de saisie */
input[type="text"],
input[type="email"],
input[type="password"],
textarea {
    font-size: 1.1rem; /* Augmente la taille de la police pour les champs de saisie */
}

/* Style pour le bouton de soumission */

#recettes_submit, #etapes_submit, #quantites_submit, #unites_submit, #cuisson_submit, #tags_submit, #categories_submit, #produits_submit, #regions_submit {
    color: #fff;
    width: 8em;
}


.taille {
    width: 50%;
}
.taille2 {
    width: 50%;
    text-align: end;
}

.modalIconColor {
    color: #ff1818;
}

.table-succes {
    color: #60d394;
}

.container_gestionimage {
    display: flex;
    flex-direction: column;
    width: 100%;
}


.recetteUpadate {
    display: flex;
    justify-content: center;
}





.Titre_Create {
    display: flex;
    align-items: center;
}






.myBouttonSubmitE {
    background-color: #ffafcc;
    font-size: 1.3em;
    color: white;
}

.myBouttonSubmitE:hover {
    background-color: #ffafcc;
}
.myBouttonSubmitQ {
    background-color: #00b4d8;
    font-size: 1.3em;
    color: white;
}
.myBouttonSubmitQ:hover {
    background-color: #00b4d8;
}




#categories_caLibelle, #unites_un_libelle, #tags_ta_libelle, #produits_PR_LIBELLE, #produits_categorie, #cuisson_cu_libelle, #regions_reg_libelle {
    width: 19em;
}

#recettes_re_commentaires {
    width: 53em;
}
.js-example-theme-multiple {
    z-index: 450;
}

.select2 {
    width: 100% !important;
}

/* --------------------------------------- footer ----------------------------------- */
.footer {
    height: 5em;
    background-color: #60d394;
}







