@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
.Cercle {
  width: 5em;
  height: 5em;
  border-radius: 3em;
  background: #82C46C;
  position: fixed;
  bottom: 3em;
  right: 4em;
  z-index: 10;
  border: none;
  box-shadow: 0px 1px 3px 1px rgb(0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
}

.Cercle:hover {
  background: #82C46C;
}

.Petit_Cercle {
  width: 1.2em;
  height: 1.2em;
  border-radius: 3em;
  background: #82C46C;
  border: none;
  box-shadow: 0px 1px 3px 1px rgb(0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-contro {
  font-size: 1em;
  margin-top: 2%;
  font-family: "Anton", sans-serif;
}

Label {
  margin-left: 4% ƒ;
}

.myBoutton {
  display: flex;
  background-color: #bcb8b1;
  align-items: center;
  height: 2.9em;
}

.myBoutton:hover {
  background-color: #bcb8b1;
}

h4 {
  color: white;
  font-family: "Anton", sans-serif;
  font-size: 2.7em;
  padding-top: 3%;
}

.modal-content {
  border-radius: 13px;
}

/* ---------------------------------------Tableau ----------------------------------- */
.tableau {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  color: white;
}

.tete_tableau {
  display: flex;
  height: 5em;
  background-color: #9BBEA9;
  align-items: center;
  border-radius: 10px;
}

.Corp_tableau {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.corp_tableau2 {
  height: 3em;
}

.ligne-impaire {
  background-color: var(--ligneImpaire);
  color: #212121;
}

.ligne-paire {
  background-color: #edf6f9;
  color: #212121;
}

.test {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.delete {
  border: none;
  background-color: transparent;
}

.Edit-mode {
  display: flex;
  align-items: center;
  background-color: #f4a261;
  border-radius: 10px;
}

.myBouttonSubmit_Edit {
  background-color: #f4a261;
  font-size: 1.3em;
  color: white;
}

.myBouttonSubmit_Edit:hover {
  background-color: #f4a261;
}

.Delete-mode {
  display: flex;
  align-items: center;
  background-color: #d90429;
  border-radius: 10px;
}

.myBouttonSubmit_Delete {
  background-color: #d90429;
  font-size: 1.3em;
  color: white;
}

.myBouttonSubmit_Delete:hover {
  background-color: #d90429;
}

.main_delete {
  font-size: 1.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5em;
  padding-top: 2%;
}

.text_color_Delete {
  color: #d90429;
  font-family: "Anton", sans-serif;
}

body.scroll-desactive {
  overflow: hidden;
}

.voile {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.626);
  z-index: 101;
  display: none;
}

.Container_gestion {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.header_popUp0 {
  background-color: #9BBEA9;
  height: 5em;
}

.a_BackOffice, .a_BackOffice:hover {
  text-decoration: none;
  color: #ffffff;
  font-size: 1.2em;
  z-index: 100;
}

.titre_create {
  display: flex;
}

#menu__toggle {
  opacity: 0;
}

#menu__toggle:checked + .menu__btn > span {
  transform: rotate(45deg);
}

#menu__toggle:checked + .menu__btn > span::before {
  top: 0;
  transform: rotate(0deg);
}

#menu__toggle:checked + .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}

#menu__toggle:checked ~ .menu__box {
  left: 0 !important;
}

.menu__btn {
  position: absolute;
  top: 35px;
  left: 20px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 100;
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: white;
  transition-duration: 0.25s;
}

.menu__btn > span::before {
  content: "";
  top: -8px;
}

.menu__btn > span::after {
  content: "";
  top: 8px;
}

.menu__box {
  display: block;
  position: fixed;
  top: 0;
  left: -100%;
  width: 300px;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  box-shadow: 2px 2px 6px #000000;
  transition-duration: 0.25s;
  z-index: 10;
  background-color: #9BBEA9;
}

.menu__item {
  display: block;
  padding: 12px 24px;
  color: #ffffff;
  font-size: 20px;
  font-weight: 600;
  transition-duration: 0.25s;
}

.menu__item:hover {
  background-color: rgba(0, 0, 0, 0.4235294118);
}

.Container_Search {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Titre_Search {
  width: 80%;
  text-align: center;
  display: flex;
  justify-content: center;
  margin-top: 2%;
}

.searchs {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 3%;
}

.recherche {
  height: 3em;
  display: flex;
  align-items: center;
}

.search_input {
  width: 65%;
}

.Input_Search {
  border: solid #9BBEA9;
  height: 2em;
  z-index: 1;
  border-radius: 40px;
  padding: 1.3em;
}

.Search_icon {
  background-color: #82C46C;
  display: flex;
  align-items: center;
  border-radius: 4em;
  padding: 1em;
  height: 2.5em;
  font-size: 1.5em;
  width: 12%;
  justify-content: center;
}

.Search_icon_Close {
  display: flex;
  align-items: center;
  border-radius: 4em;
  padding: 1em;
  height: 2.5em;
  font-size: 1.5em;
  width: 12%;
  justify-content: center;
}

.card {
  width: 33%;
  border: transparent;
  margin-bottom: 4%;
  margin-top: 6%;
}

.card > div {
  box-shadow: 0 15px 20px 0 rgba(0, 0, 0, 0.5);
}

.card-image {
  width: 100%;
  max-height: 23em;
  min-height: 23em;
}

.card-image > img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: bottom;
     object-position: bottom;
}

.card-body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.25rem;
}

.card-title {
  font-size: 2.2rem;
  font-family: "Anton", sans-serif;
}

.Card_Title {
  width: 75%;
}

.Card_icons {
  width: 25%;
}

.Recette_Update {
  border: #9BBEA9 solid 2px;
  border-radius: 10px;
  width: 80%;
  padding: 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Ingrédient_Update {
  border: #9BBEA9 solid 2px;
  border-radius: 10px;
  width: 80%;
  padding: 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Container_Bouton_Update {
  display: flex;
  justify-content: center;
}

.popupRecette {
  position: absolute;
  z-index: 123;
  height: 40em;
  width: 60%;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 1px 3px -1px rgb(0, 0, 0);
  top: -13px;
  right: 18em;
}

.popUP_Create {
  display: flex;
  border-radius: 10px;
}

.add-mode {
  background-color: #82C46C;
  border-radius: 10px;
}

.Create {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.changeColor {
  color: #fff;
}

.SubmitRecettes {
  margin: 4%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.myBouttonSubmit {
  background-color: #82C46C;
  font-size: 1.3em;
  color: white;
}

.myBouttonSubmit:hover {
  background-color: #82C46C;
}

.popupEtape {
  position: absolute;
  z-index: 123;
  height: 32em;
  width: 45%;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 1px 3px -1px rgb(0, 0, 0);
  top: 35px;
  right: 25em;
}

.text_Size {
  font-size: 2em;
}

.text_color {
  color: #82C46C;
}

.popupQuantites {
  position: absolute;
  z-index: 123;
  height: 23em;
  width: 60%;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 1px 3px -1px rgb(0, 0, 0);
  top: 35px;
  right: 18em;
}

.popupCatégorie {
  position: absolute;
  z-index: 9999;
  height: 18em;
  width: 36%;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 1px 3px -1px rgb(0, 0, 0);
  top: 6em;
  right: 29.5em;
  display: none;
}

.popupProduits {
  position: absolute;
  z-index: 9999;
  height: 23em;
  width: 36%;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 1px 3px -1px rgb(0, 0, 0);
  top: 6em;
  right: 29.5em;
}

#cuissonLabel {
  color: #fff;
  font-family: "Anton", sans-serif;
  margin-left: 2%;
  font-size: 1.5em;
}/*# sourceMappingURL=BackOffice.css.map */