{# ***************************************** FICHIER PARENT ******************************* #}

{% extends 'backOffice.html.twig' %}

{# ***************************************** TITLE **************************************** #}

{% block title %}Unité{% endblock %}

{# ***************************************** NAV ET MENU ********************************** #}

{% block menu %}
	{% include 'unites/Gestion_Unites.html.twig' %}
{% endblock %}

{# ***************************************** BODY ***************************************** #}

{% block body %}
{# --------------------------------------POPUP DELETE ------------------------------ #}

	<div id='container_form ' class='ma-classe'>
		{# Pop Up formulaire supprimer #}
		<div class='popupCatégorie'>
			<div class='popUP_Create Delete-mode '>
				<div class='col-lg-3 Create Delete-mode '>
					{# Icon Supprimer #}
					<i class="fa-solid fa-trash-can fa-3x changeColor mb-1"></i>
				</div>

				<div
					class='d-flex align-items-center'>
					{# titre delete de la pop up #}
					<h4>DELETE UNITÉ</h4>
				</div>
			</div>

			<div class="main_delete">
				<p>Suppression de la l'unité
					<span class='text_color_Delete'>{{ unite.unLibelle}}</span>
				</p>
			</div>

			<div class='SubmitRecettes'>
				<a class="m-2 btn  myBoutton affichePopUp" href={{url('Gestion_Unites')}}>Retour</a>
				<a class="btn myBouttonSubmit_Delete m-2" href={{url('delete_Unite', {'id': unite.id} )}}>Supprimer</a>
			</div>
		</div>
	</div>

{# ***************************************** JAVASCRIPT ***************************************** #}

<script>
	// Désactive le scroll quand la popUp et affiché
	window.onload = function () {
	var element = document.querySelector('.ma-classe');
	if (element) {
	document.body.classList.add('scroll-desactive');
	$('.voile').toggle();
	}
	};
</script>

{% endblock %}
