{# ***************************************** FICHIER PARENT ******************************* #}

{% extends 'base.html.twig' %}

{# ***************************************** TITLE **************************************** #}

{% block title %}Accueil MiamMalin
{% endblock %}

{# ***************************************** BODY ***************************************** #}

{% block body %}
	<div class="Container_Nouvelle_Recette">
		<div>
			<h3 class='titre_Accueil text-center'>Nouvelles Recettes</h2>
		</div>
	</div>
	<div class="Container_Nouvelle_Recette">
		<div>
			<h3 class='titre_Accueil text-center'>Recettes Favoris</h2>
		</div>
	</div>
    	<!-- Button trigger modal -->
    {% for recette in recettes %}
	<button data-bs-toggle="modal" data-bs-target="#modal{{ recette.id }}" class='delete m-1'><i class="fa-solid fa-trash-can text-danger fa-lg"></i></button> 
	{% include "accueil/plop.html.twig"%}
    {% endfor %}
{% endblock %}
